*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    /* width: 99vw; */
    /* height: 100vh; */
    background-image: url(./Background2.png);
    background-size:cover;
}
.container{
    /* border:1px solid green; */
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items:center;
    padding:0px 20px;

}
.logo{
    font-size: 30px;
    color:orange;
    
}
.nav{
    position: relative;
}
a{
    padding:5px 15px;
    color:black;
    font-size: 20px;
    text-decoration:none;
}
a:hover{
    color:white;
}
/* .search{
    font-size: 25px;
}
.search i{
    padding:5px 20px;
} */

.heading{
    display: flex;
    justify-content: space-evenly;
    padding-top:65px;
    align-items:center;
}
.right_side{
    width: 440px;
    height: 440px;
    background-image: url(./pizaa.png);
    background-size:cover;
    border-radius: 300px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.right_side::before{
    width: 430px;
    height: 430px;
    border:2px solid white;
    content: '';
    position: absolute;
    border-radius: 400px;
    padding:10px;
}

.left_side p:nth-child(1){
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    font-style: italic;
}
.left_side h1{
    font-size: 90px;
    color:white;
}
.left_side p:nth-child(3){
    color: orange;
    font-size: 30px;
    font-style: italic;
}
.left_side button{
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius: 20px;
    border:2px solid white;
    background-color:transparent;
    color:white;
    margin:20px 0px;
}


#menu{
    display: flex;
    gap: 20px;
    padding-left: 20px;
    /* margin:0px 23px; */
}

.food_image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    /* margin:0px 10px; */ 
}

.food_image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


/* social media */

.SocialMedia{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 5px;
    top: 50%;
    right: 0;
}
.SocialMedia i{
    padding: 10px;
    border-radius: 20px;
}
.SocialMedia i:hover {
    color:orange;
    background-color: #fff;
}


/* Menu page css start */

.menu_container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color:#fff;
    padding: 20px;
}
.menu_container .menu_left,.menu_right{
    width: 48%;
}
.menu_container .menu_title{
    font-size: 32px;
    color:#fff;
    font-weight: 700;
    margin: 20px 0;
}
.menu_container .menu_title .first_letter{
    color:red;
}
.menu_container ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menu_container ul li{
    list-style-type: none;
    display: flex;
    font-size: 22px;
    font-weight: 400;
    justify-content: space-between;
}

.menu_head{
    margin: 20px 0;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color:#fff;
}

@media screen and (max-width:768px) {
  .menu_container{
    flex-direction: column !important;
  }
  .menu_container .menu_left,.menu_right{
    width:100% !important;
  }
}


/* contact page css start */


.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    max-width: 1200px;
    margin: 50px auto;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
}

.contact-details {
    width: 50%;
}

.contact_head{
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
.contact_main{
    font-size: 28px;
    font-weight: 500;
}
.contact-details p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #fff;
}

#contact_main strong{
    font-size: 28px;
    font-weight: 500;
}

.contact-image {
    width: 40%;
    text-align: right;
}

.contact-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.extra_info p{
    font-size: 22px;
    text-align: center;
    color:White;
    margin-top: 15px;
    font-weight: 400;
}